
html{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: teal;
}

h1{
    font-size: 50px;
    margin-top: auto;
    font-style: italic;
    color: rgb(194, 192, 190);
    
}


.container{ display: flex;
    flex-direction: column;
    width: 360px;
    height: 700px;
    background-color: gray;
    margin: 100px auto ;
    border: 15px double black;
    border-radius: 10px;
    justify-content: space-evenly;
}

.screen{
    text-align: center;
    background-color: white;
    height: 80px;
    margin: auto 20px;
    font-size: 50px;
    border: 5px solid black;
}


.buttonsContainer{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 ;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
}
.numberButtons{
    display: flex;
    flex-wrap: wrap;
    width:249px ;
    gap: 2px;
}
.number{
    width: 81px;
    height: 118px;
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
    .numberButtons{
        display: flex;
        flex-wrap: wrap;
        width:249px ;
    }

.operationButtons {
    width: 49px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
    
}

    .operation , #equals{
        width: 49px;
        height: 78px;
        font-size: 16px;
        border: 2px solid grey;
        border-radius: 10px;
        }

        .footer{
            margin-top: auto;
            margin-bottom: 20px;
            font-size: 25px;
        }